.app-container {
  display: flex;
  height: 100vh;
}

.left-container, .right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.left-container {
  align-items: flex-start;
  padding-left: 20px;
}

.right-container {
  align-items: flex-end;
  padding-right: 20px;
}
