.user-input-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.user-input-wrapper {
  width: 608px; /* 또는 100% */
  height: 205px;
  position: flex;
  background: #FEFEFE;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 16px; /* 내부 여백 */
}

.user-input {
  flex-grow: 1;
  border: none;
  background: none;
  padding-left: 32px; 
  padding-right: 32px; 
  padding-bottom: 150px;
  margin-top: 10px;
  color: #737380;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  border-radius: 8px; /* 필드 모서리 둥글게 */
}

.user-input-submit {
  width: 49px;
  height: 40px;
  background: #FDBF0F;
  border: none;
  border-radius: 8px;
  margin-top: 150px;
  margin-left: 16px; /* 버튼과 입력 필드 사이의 간격 */
  cursor: pointer;
}
